.winners {
    margin: 20px 0;
    .winners_list {
        .winner {
            background-color: #ffb61e;
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px ;
            .winner_info {
                .winner_title,
                .winner_description {
                    color: #fff;
                }
            }
            .winner_img {
                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
}
            }
        }
    }
}